.single-work {
  position: relative;
  min-height: 50vh;
  margin: 4em auto;
  width: calc(100% - 10vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba($color: $color-three, $alpha: 0.5);
  border-top: none;
  border-bottom: none;
  border-radius: 12px;
}

.single-work::before {
  @include htmlElement("<project>", 1.1em);
  top: -30px;
  left: -15px;
}

.single-work::after {
  @include htmlElement("</project>", 1.1em);
  bottom: -30px;
  left: -15px;
}

.title-work {
  font-size: 1.8em;
  color: $color-one;
  font-family: $font-text;
  display: flex;
  align-items: center;
}

.title-work::before {
  content: "";
  width: 15vw;
  height: 1.5px;
  background-color: $color-one;
  margin-right: 20px;
}

.title-work::after {
  content: "";
  width: 15vw;
  height: 1.5px;
  background-color: $color-one;
  margin-left: 20px;
}

.work-wrapper {
  margin: 1em 0;
  display: flex;
  align-items: center;
  position: relative;
}

.work-screen {
  border-radius: 6px;
  flex: 1;
  transition: all 0.85s linear;
  background-color: rgba($color: $color-one, $alpha: 0.5);
}

.work-screen img {
  width: 35vw;
}

.work-information {
  background-color: rgba($color: $color-two, $alpha: 1);
  position: absolute;
  width: 60%;
  right: 0;
  flex: 1;
  border-radius: 6px;
  padding: 2em 1em;
  gap: 1em; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 0.85s linear;
  opacity: 0;
}

.work-wrapper:hover .work-screen {
  transform: translateX(-36.5%);
  transition: all 0.85s linear;
}

.work-wrapper:hover .work-information {
  opacity: 1;
  transform: translateX(36.5%);
  transition: all 0.85s linear;
  background-color: rgba($color: $color-three, $alpha: 1);
}

.work-information h4 {
  font-family: $font-future;
  color: $color-one;
}

.work-information li {
  border-bottom: 0.5px solid rgba($color: $color-two, $alpha: 0.5);
  margin: 5px auto;
  width: 80%;
  font-family: "Didact";
  font-weight: 600;
  font-size: 1.05em;
  border-radius: 50px;
  transition: all 0.3s linear;
}

.work-information li:hover {
  background-color: $color-two;
  transition: all 0.3s linear;
  color: $color-one;
}

.work-information a {
  text-decoration: none;
  width: 65%;
  margin: 0 auto;
  padding: 0.65em;
  border-radius: 6px;
  border: none;
  background-color: $color-two;
  color: $color-one;
  font-family: $font-future;
  cursor: pointer;
  transition: all 0.85s linear;
}

.work-information a:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.85s linear;
}
