$color-primary: #e1d1c7;
$color-secondary: #a02b15;
$color-ter: #382a29;
$font-primary: 'Forum', cursive;
$font-secondary: 'Merriweather', serif;
$font-title: 'Nunito Sans', sans-serif;
$font-elegant: 'Italianno', cursive;

/* COLOR SFONDO #cda089 O #e1d1c7
   COLOR TESTI #382a29 O #A30000 / #b82a0c / #a02b15
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  background-color: $color-primary;
  color: $color-ter;

}

/*HEADER*/
header {
  background-color: #e1d1c7;

}

.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}

nav {
  width: 30%;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 1.1em;
    a {
      text-decoration: none;
      color: $color-ter;

      &:hover {
        color: $color-secondary;
        text-decoration: underline;
      }
    }



  }
}

/*1° PAGE*/
.intro {
  display: flex;
  padding: 15px 100px;
  height: 85vh;
  align-items: stretch;
  position: relative;
  }

#anchor-1{
  position: absolute;
  z-index: 99;
  bottom: 5%;
  left: 50%;
  font-size: 20px;
}

.intro-info {
  padding: 25px 20px 25px 50px;
  position: relative;
  width: 70%;

  h2{
    margin-top: 50px;
    font-family: $font-title;
    font-weight: 400;
    color: $color-secondary;
    padding-right: 80px;
  }

  .presentation{
    margin-top: 80px;
    p{
      font-family: $font-primary;
      font-size: 20px;
    }
  }
}

.intro-picture{
  display: flex;
  align-items: center;
  }

  .desktop{
    max-width: 100%;
    max-height: 100%;
  }
  .border-rounded{
    border: 3px solid $color-secondary;
    border-radius: 50%;

  }

/*PORTFOLIO*/


.portfolio {
  position: relative;

  h2{
    text-align: center;
    padding: 20px 0;
    color: $color-secondary;
    font-family: $font-title;
  }
  p {
    padding: 20px 160px;
    font-family: $font-primary;
    font-size: 20px;
  }
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  div {
    margin: 0 15px 30px;
  }
}

.project-container{
  position: relative;
  display: flex;

  &:hover .button{
    display: inline-block;
  }

  &:hover .button:hover + .project-item{
    opacity: 0.5;
  }
}

.project-item{

  &:hover {
    opacity: 0.5;

  }
}

.button {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 30%;
  border-radius: 10px;
  background-color: $color-ter;
  padding: 15px 30px;
  text-decoration: none;
  color: $color-primary;
  z-index: 1;
  font-family: $font-secondary;
}

.button:hover{
  background-color: $color-secondary;
  color: $color-primary;
  text-decoration: underline;
}

/*#anchor-2 {
  position: absolute;
  bottom: 0%;
  left: 50%;

}*/

/*CONTACT*/
.contact-me {
  display: flex;
  padding: 15px 100px;
  height: 90vh;
  align-items: stretch;
  position: relative;
  }

.contact-info {
  padding: 25px 20px 25px 50px;
  position: relative;
  width: 70%;
  }

.contact-presentation{
  font-family: $font-primary;
  font-size: 20px;
  position: relative;
  padding-right: 50px;

  h2{
    font-family: $font-title;
    font-size: 32px;
    text-decoration: underline;
    color: $color-secondary;

  }
}

.cta{
  font-family: $font-secondary;
  background-color: $color-ter;
  color: $color-primary;
  font-size: 20px;
  border-radius: 10px 100px / 120px;
  padding: 15px;
  text-align: center;
  margin-right: 40px;
}

.contact-picture{
  display: flex;
  align-items: center;
}

.contact-link{
  font-size: 24px;

  a{
    text-decoration: none;

    i{
      color: $color-secondary;
    }
  }

}


.contact-address {
  margin: 30px 0;
  text-align: left;
  font-family: $font-primary;
  font-size: 20px;

  span{
    display: inline-block;
    margin-top: 10px;
    font-family: $font-secondary;
  }
  i{
    color: $color-secondary;
    font-size: 18px;
  }
  a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    margin: 0 10px;

    &:hover{
      color: $color-secondary;
    }
  }

}

/*FOOTER*/


footer {
  background-color: $color-ter;
  color: $color-primary;
  text-align: center;
  font-family: $font-elegant;
  font-size: 20px;
  letter-spacing: 1.2px;

  i{
    color: $color-primary;
    background-color: $color-ter;
    font-size: 15px;
    margin: 0 3px 0 6px;


  }
}

/*responsive*/

@media only screen and (min-width: 768px){

  .intro img.mobile{
    display: none;
    }

  .dropdown i{
    display: none;
  }

}
@media only screen and (max-width: 768px) {

  nav{
    width: auto;

    ul{
      display: none;
    }

    .dropdown{
      display: inline-block;

      i {
        font-size: 20px;
      }

      &:hover i {
        display: none;
      }

      &:hover ul{
        display: flex;
        flex-direction: column;
      }
    }


  }

  .intro {
    align-items: center;
    padding: 0;
    height: auto;
  }

  .intro-info {
    padding: 0;
    width: 100%;

    h2{
      padding: 0 25px;
    }

    > .presentation{
      margin-top: 0;
      padding: 20px 40px 0 40px;
      text-align: justify;
    }

  }

  .intro-picture{
    display: none;
  }

  .intro img.mobile{
    position: relative;
    left: 20%;

  }


#anchor-1{
  display: none;
}


.portfolio{
  p{
    padding: 20px 40px;
    text-align: justify;
  }
}

.project-container img{
  width: 360px;
  height: 270px;
}

.button{
  left: 20%;
}

.contact-me{
  height: auto;
  padding: 0;
}

.contact-info{
  width: 100%;
  padding: 0;
}

.contact-presentation{
  padding: 20px 40px;
}

.cta{
  margin: 0;
}
.contact-address{
  padding-left: 40px;
}

.contact-link{
  padding: 0 40px 20px 40px;
}

  .contact-picture{
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){

  .intro {
    padding: 0;
    height: auto;
  }

  .intro-info{
    width: 180%;
  }

  #anchor-1{
    bottom: 0;
  }
  .contact-me {
    padding: 25px;
    height: auto;
  }
  .contact-info{
    width: 180%;
  }
}
