@charset "UTF-8";
/* COLOR SFONDO #cda089 O #e1d1c7
   COLOR TESTI #382a29 O #A30000 / #b82a0c / #a02b15
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  background-color: #e1d1c7;
  color: #382a29;
}

/*HEADER*/
header {
  background-color: #e1d1c7;
}

.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}

nav {
  width: 30%;
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 1.1em;
}

nav ul a {
  text-decoration: none;
  color: #382a29;
}

nav ul a:hover {
  color: #a02b15;
  text-decoration: underline;
}

/*1° PAGE*/
.intro {
  display: flex;
  padding: 15px 100px;
  height: 85vh;
  align-items: stretch;
  position: relative;
}

#anchor-1 {
  position: absolute;
  z-index: 99;
  bottom: 5%;
  left: 50%;
  font-size: 20px;
}

.intro-info {
  padding: 25px 20px 25px 50px;
  position: relative;
  width: 70%;
}

.intro-info h2 {
  margin-top: 50px;
  font-family: "Special Elite", cursive;
  font-weight: 400;
  color: #a02b15;
  padding-right: 80px;
}

.intro-info .presentation {
  margin-top: 80px;
}

.intro-info .presentation p {
  font-family: "Forum", cursive;
  font-size: 20px;
}

.intro-picture {
  display: flex;
  align-items: center;
}

.desktop {
  max-width: 100%;
  max-height: 100%;
}

.border-rounded {
  border: 3px solid #a02b15;
  border-radius: 50%;
}

/*PORTFOLIO*/
.portfolio {
  position: relative;
}

.portfolio h2 {
  text-align: center;
  padding: 20px 0;
  color: #a02b15;
  font-family: "Special Elite", cursive;
}

.portfolio p {
  padding: 20px 160px;
  font-family: "Forum", cursive;
  font-size: 20px;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects div {
  margin: 0 15px 30px;
}

.project-container {
  position: relative;
}

.project-container:hover .button {
  display: inline-block;
}

.project-container:hover .button:hover + .project-item {
  opacity: 0.5;
}

.project-item:hover {
  opacity: 0.5;
}

.button {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 30%;
  border-radius: 10px;
  background-color: #382a29;
  padding: 15px 30px;
  text-decoration: none;
  color: #e1d1c7;
  z-index: 99;
  font-family: "Merriweather", serif;
}

.button:hover {
  background-color: #a02b15;
  color: #e1d1c7;
  text-decoration: underline;
}

/*#anchor-2 {
  position: absolute;
  bottom: 0%;
  left: 50%;

}*/
/*CONTACT*/
.contact-me {
  display: flex;
  padding: 15px 100px;
  height: 90vh;
  align-items: stretch;
  position: relative;
}

.contact-info {
  padding: 25px 20px 25px 50px;
  position: relative;
  width: 70%;
}

.contact-presentation {
  font-family: "Forum", cursive;
  font-size: 20px;
  position: relative;
  padding-right: 50px;
}

.contact-presentation h2 {
  font-family: "Special Elite", cursive;
  font-size: 32px;
  text-decoration: underline;
  color: #a02b15;
}

.contact-presentation h3 {
  font-family: "Merriweather", serif;
  background-color: #382a29;
  color: #e1d1c7;
  font-size: 20px;
  border-radius: 10px 100px / 120px;
  padding: 15px;
  text-align: center;
}

.contact-picture {
  display: flex;
  align-items: center;
}

.contact-link {
  font-size: 24px;
}

.contact-link a {
  text-decoration: none;
}

.contact-link a i {
  color: #a02b15;
}

.contact-address {
  margin: 60px 0 30px 0;
  text-align: left;
  font-family: "Forum", cursive;
  font-size: 20px;
}

.contact-address span {
  display: inline-block;
  margin-top: 10px;
  font-family: "Merriweather", serif;
}

.contact-address i {
  color: #a02b15;
  font-size: 18px;
}

.contact-address a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  margin: 0 10px;
}

.contact-address a:hover {
  color: #a02b15;
}

/*FOOTER*/
footer {
  background-color: #382a29;
  color: #e1d1c7;
  text-align: center;
  font-family: "Italianno", cursive;
  font-size: 20px;
  letter-spacing: 1.2px;
}

footer i {
  color: #e1d1c7;
  background-color: #382a29;
  font-size: 15px;
  margin: 0 3px 0 6px;
}

/*responsive*/
@media only screen and (min-width: 768px) {
  .intro img.mobile {
    display: none;
  }
  .dropdown i {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    width: auto;
  }
  nav ul {
    display: none;
  }
  nav .dropdown {
    display: inline-block;
  }
  nav .dropdown i {
    font-size: 20px;
  }
  nav .dropdown:hover i {
    display: none;
  }
  nav .dropdown:hover ul {
    display: flex;
    flex-direction: column;
  }
  .intro {
    align-items: center;
    padding: 0;
    height: auto;
  }
  .intro-info {
    padding: 0;
    width: 100%;
  }
  .intro-info h2 {
    padding: 0 25px;
  }
  .intro-info > .presentation {
    margin-top: 0;
    padding: 20px 60px 0 60px;
    text-align: justify;
  }
  .intro-picture {
    display: none;
  }
  .intro img.mobile {
    position: relative;
    left: 20%;
    /*  position: absolute;
    top: 15%;
    left: 70%;*/
  }
  #anchor-1 {
    display: none;
  }
  .portfolio p {
    padding: 20px 60px;
    text-align: justify;
  }
  .contact-presentation {
    padding-right: 0;
  }
  .project-container img {
    width: 480px;
    height: 390px;
  }
  .contact-info {
    width: 100%;
    padding: 0;
  }
  .contact-me {
    padding: 25px 60px;
    height: auto;
  }
  .contact-address {
    margin: 20px 0;
  }
  .contact-picture {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .intro {
    padding: 0;
    height: auto;
  }
  .intro-info {
    width: 180%;
  }
  .contact-me {
    padding: 25px;
    height: auto;
  }
  .contact-info {
    width: 180%;
  }
}
