@media only screen and (min-width: 1281px) {
}

@media only screen and (max-width: 1280px) {
  .showing {
    font-size: 3em;
  }

  .containerElements p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 1024px) {
  menu {
    display: none;
  }

  #showMenu {
    display: block;
  }

  .showing {
    font-size: 2.6em;
  }

  .section {
    margin-left: 0;
    padding: 6em 4em;
    scroll-snap-align: none;
    height: fit-content;
  }

  .section:first-of-type {
    padding: 7em 1em 7em 4em;
  }

  .top-tag {
    margin: 2em 0 0 1em;
  }

  #header ul {
    height: 8em;
  }

  .containerElements p {
    font-size: 0.95em;
  }

  #hideSkill {
    font-size: 3.5em;
  }

  .skill {
    filter: none;
  }

  .skill img {
    width: 80px;
  }

  #contact {
    flex-direction: column;
  }

  #contactBtn {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6em;
  }

  .contact {
    min-width: 35vw;
  }

  #bottom {
    margin-left: 0;
  }

  #portfolio {
    margin-left: 0;
  }

  .project-list {
    width: 100%;
  }

  .project-screen img {
    filter: grayscale(0);
  }
  .project-screen a {
    width: 60vw;
    margin: 0 auto;
  }
  .project-screen a::before {
    opacity: 0;
  }
  .title-project {
    font-size: 1.5em;
  }

  .single-project:nth-child(odd) .project-information {
    transform: none;
  }

  .single-project:nth-child(even) .project-information {
    transform: none;
  }

  .single-project:nth-child(even) .project-screen {
    order: -1;
  }

  .language-list {
    justify-content: center;
    margin: 15px 0;
  }

  .single-project:nth-of-type(even) .project-links,
  .single-project:nth-of-type(odd) .project-links {
    justify-content: center;
  }

  .project-wrapper {
    flex-direction: column;
  }

  //* PORTFOLIO PAGE

  .title-work {
    font-size: 1.2em;
  }
  .work-wrapper {
    flex-direction: column;
  }
  .work-screen img {
    width: 65vw;
  }
  .work-information {
    position: static;
    opacity: 1;
    background-color: rgba($color: $color-three, $alpha: 1);
    width: 100%;
    height: 100%;
    margin: 1em auto;
  }
  .work-wrapper:hover .work-screen {
    transform: none;
    transition: none;
  }

  .work-wrapper:hover .work-information {
    transform: none;
    transition: none;
  }
  .work-information h4 {
    margin-bottom: 15px;
  }

  .work-information,
  .work-information a {
    //font-size: 0.8em;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 784px) {
  .showing {
    font-size: 2.3em;
  }

  .marginShowing{
    margin-right: 8.5px;
  }

  #header ul {
    height: 5em;
  }

  #myself.section {
    flex-direction: column;
  }

  .skill {
    @include skill-animation-mobile;
  }

  #works {
    flex-direction: column;
  }

  .box {
    align-self: center;
    min-width: 80vw;
  }

  #contact.section {
    margin-bottom: 1.5em;
  }

  .contact {
    min-width: 80vw;
  }

  .project-screen a {
    width: 100%;
  }

  .container .textLoader {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 671px) {
  .showing {
    font-size: 1.8em;
  }

  .section:first-of-type {
    padding: 9em 1em 9em 4em;
  }

  #hideSkill {
    position: static;
    order: 1;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 551px) {
  .showing {
    font-size: 1.4em;
  }

  .section:first-of-type {
    padding: 9em 1em 9em 3em;
  }

  #hideSkill {
    font-size: 2.5em;
  }

  .title-project {
    font-size: 1.2em;
  }

  .title-link a {
    font-size: 1em;
    text-align: center;
  }
  #portfolio {
    padding: 2em;
  }
  .project-wrapper {
    padding: 2em 0;
  }
  .description {
    padding: 1em;
  }

  //* PORTFOLIO PAGE
  .work-screen img {
    width: 100%;
  }
  .title-work {
    font-size: 1em;
    text-align: center;
  }
}

@media only screen and (max-width: 426px) {
  .showing {
    font-size: 1.25em;
  }

  .section:first-of-type {
    padding: 9em 0.5em 9em 1.75em;
  }

  .section {
    padding: 3em;
  }
  .top-tag, .bottom-tag {
    margin: 2em 0 0 5px;
    font-size: 1em;
  }

  #frontPage h1::before, #frontPage h1::after{
    font-size: 0.6em;
  }

  #job {
    font-size: 0.75em;
  }
  
  #job::after, #job::before{
    font-size: 1em;
  }

  #contact-me {
    margin: 0 auto;
    padding: 1em 2.5em;
  }

  #hideSkill {
    font-size: 1.5em;
  }

  .skill img {
    width: 70px;
  }

  .container .textLoader {
    font-size: 0.8em;
  }

  .work-information,
  .work-information a {
    font-size: 0.85em;
  }

  .single-work {
    padding: 0 0.5em;
    width: 100%;
  }
}

@media only screen and (max-width: 376px) {
  .showing {
    font-size: 1em;
  }
}

@media only screen and (max-width: 320px) {
  .showing {
    font-size: .9em;
  }
}

@media only screen and (max-width: 319px) {
}
