@use "scrollbar";
@use "loader";
//@use "mixins";
@import "variables";

// GLOBAL STYLE

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $color-two;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline;
}

// MENU SIDEBAR

menu {
  position: fixed;
  background-color: $color-one;
  max-height: 100vh;
  //overscroll-behavior: contain;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  //z-index: 10;
  //transform: translateY(100%);
  //transition: all 0.75s linear;
}

menu #brand {
  text-align: center;
  margin: 2em 0;
  & a > span {
    color: $color-one;
    background-color: $color-two;
    display: block;
    padding: 0.2em 0;
    font-size: 1.3em;
    font-family: $font-primary;
  }
}

#brand > span {
  font-family: $font-future;
  font-size: 0.7em;
}

menu nav {
  display: inherit;
  flex-direction: inherit;
  border-top: 2px solid $color-two;
  //margin: 2em 0;
  & a {
    color: $color-two;
    font-family: $font-primary;
    font-size: 1rem;
    border-bottom: 2px solid $color-two;
    text-align: center;
    padding: 12px 10px;
    //display: block;
  }
  & a:hover {
    background-color: $color-two;
    color: $color-one;
    transition: all 0.5s linear;
  }
}

menu .social {
  display: inherit;
  //border: 1px solid red;
  justify-content: center;
  list-style-type: none;
  gap: 4px;
  & a {
    color: $color-two;
    font-size: 1.4em;
    padding: 6px;
    transition: all 0.5s linear;
    border-radius: 50%;
  }
  & a:hover {
    background-color: $color-two;
    color: $color-one;
    border-radius: 50%;
  }
  & li {
    position: relative;
  }
}

.social li:nth-child(1)::after {
  content: "Profilo GitHub";
  @include socialOverlay;
}

.social li:nth-child(1):hover::after {
  opacity: 1;
  transition: all 0.3s linear;
}

.social li:nth-child(2)::after {
  content: "Profilo LinkedIn";
  @include socialOverlay;
}

.social li:nth-child(2):hover::after {
  opacity: 1;
  transition: all 0.3s linear;
}

menu #copyright {
  font-family: $font-future;
  font-weight: 400;
  font-size: 0.7em;
  display: block;
  text-align: center;
  padding-bottom: 1em;
}

// MENU IN RESPONSIVE - BTN ECT....

// SECTION CLASS FOR CONTAINERS

.section {
  margin-left: 10em;
  position: relative;
  padding: 5em;
  min-height: 100vh;
}

// TAG DESIGN

.top-tag {
  @include tagHTML(top, left, 0, 0);
  margin: 15px 0 0 30px;
  font-size: 1.1em;
}

.top-tag::after {
  content: "<body>";
  @include tagHTML(top, left, 25px, 10px);
  font-size: 1em;
}

.bottom-tag {
  @include tagHTML(bottom, left, 0, 0);
  margin: 0 0 15px 30px;
  font-size: 1.1em;
}

.bottom-tag::after {
  content: "</body>";
  @include tagHTML(bottom, left, 25px, 10px);
  font-size: 1em;
}

// FIRST PAGE

#front-page {
  .container-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(10vh, 80vh, 100vh);
  }

  h1 {
    display: inline-block;
    position: relative;
    &::before {
      @include htmlElement("<h1>", 0.8em);
      top: -12px;
      left: -10px;
    }
    &::before h1::after {
      @include htmlElement("</h1>", 0.8em);
      bottom: -10px;
    }
  }
  .showing {
    transition: all 0.5s ease-out;
    font-size: 2.5em;
    display: inherit;
    line-height: 1.2em;
    color: $color-three;
    opacity: 0;
  }
  .marginShowing {
    margin-right: 20px;
  }

  #job-title {
    position: relative;
    padding: 2.5em 0;
    font-family: $font-future;
    margin-bottom: 4em;
    color: $color-one;
    &::before {
      @include htmlElement("<p>", 1.2em);
      top: 15px;
      left: -10px;
    }
    &::after {
      @include htmlElement("</p>", 1.2em);
      bottom: 15px;
      left: -15px;
    }
  }

  .contact-link {
    color: $color-one;
    display: inline-block;
    border: 1px solid $color-one;
    padding: 1em 4em;
    font-size: 1.2em;
    position: relative;
    letter-spacing: 2px;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 5px;
      height: 5px;
      background-color: $color-one;
    }
    &:hover::after {
      background-color: $color-two;
    }
    &:hover .text {
      color: $color-two;
      transform: scale(1.1, 1.1);
    }
    &:hover .bg {
      width: 140%;
      transition: 0.3s all linear;
    }
  }

  .bg {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -10px;
    background-color: $color-one;
    transform: skewX(-10deg);
  }
  .text {
    display: inline-block;
  }
}

// SKILL PAGE

#myself {
  h2 {
    font-size: 2.2em;
    margin-bottom: 1em;
    position: relative;
    color: $color-one;
    font-family: $font-primary;
    &::before {
      @include htmlElement("<h2>", 1rem);
      top: -15px;
      left: -20px;
    }
    &::after {
      @include htmlElement("</h2>", 1rem);
      bottom: -10px;
    }
  }

  #skill-container {
    //border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    //flex-wrap: wrap;
  }

  .skill {
    width: fit-content;
    border: 2px solid red;
    width: clamp(250px, 400px, 500px);
    padding: 1rem 5rem;
    filter: grayscale(1);
    display: flex;
    align-items: center;
    z-index: 1;
    //flex-direction: column;
    //gap: 1.5rem;
    //justify-content: center;
    //margin: 0 auto;
    //flex-grow: .5;
    //position: absolute;
    //opacity: 0;
    //@include skill-animation;
  }

  .skill img {
    width: 100px;
    //text-align: center;
  }

  .skill:hover {
    filter: grayscale(0);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 75px 5px $color-three inset;
    //border-radius: 50%;
    //padding: 0.5em;
  }
}

// PROGRESS BAR
//! TO ANIMATE

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 7.5px;
  //position: relative;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  transform: skewX(-20deg);
  transform-origin: 0 100%;
}
progress[value]::-webkit-progress-value {
  border-radius: 2px;
  background-color: $color-one;
  //background-size: 35px 20px, 100% 100%, 100% 100%;
}

// PROJECT MASTER DESIGN

.projects {
  //border: 1px solid red;
  position: relative;
  &::before {
    @include htmlElement("<section>", 1.2em);
    top: -15px;
    left: -25px;
  }
  &::after {
    @include htmlElement("</section>", 1.2em);
    bottom: 0;
    left: -25px;
  }
  h2 {
    font-size: 2.2em;
    margin-bottom: 0.5rem;
    position: relative;
    color: $color-one;
    font-family: $font-primary;
  }
  p {
    position: relative;
    font-size: 1.15em;
    line-height: 1.5em;
    //margin-bottom: 4em;
    color: $color-three;
    font-family: $font-text;
  }
  .project-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    //justify-content: center;
    //align-items: center;
    //border: 1px solid red;
    //width: 95%;
    //margin: 0 auto;
  }
  .single-project {
    //border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: space-around;
    margin: 4em 0;
    position: relative;
    min-height: 50vh;

    &:nth-child(odd)::before {
      @include htmlElement("<project>", 1.1em);
      top: -30px;
      left: -15px;
    }

    &:nth-child(odd):after {
      @include htmlElement("</project>", 1.1em);
      bottom: -30px;
      left: -15px;
    }

    &:nth-child(even)::before {
      @include htmlElement("<project>", 1.1em);
      top: -30px;
      right: -15px;
    }

    &:nth-child(even):after {
      @include htmlElement("</project>", 1.1em);
      bottom: -30px;
      right: -15px;
    }

    /*     &:nth-child(odd) .number {
      margin-right: 15px;
    }
    &:nth-child(even) .number {
      margin-left: 15px;
    } */

    .title-project {
      font-size: 1.8em;
      color: $color-one;
      font-family: $font-text;
      display: flex;
      align-items: center;
    }

    &:nth-child(odd) .title-project::after {
      content: "";
      width: 15vw;
      height: 1px;
      background-color: $color-one;
      margin-left: 20px;
    }

    &:nth-child(even) .title-project::before {
      content: "";
      width: 15vw;
      height: 1px;
      background-color: $color-one;
      margin-right: 20px;
    }

    &:nth-child(odd) .title-project {
      align-self: flex-start;
      margin-left: 15px;
    }

    &:nth-child(even) .title-project {
      align-self: flex-end;
      margin-right: 15px;
    }

    &:nth-child(even) .project-screen {
      order: 2;
      //translate: -40%;
    }

    .project-wrapper {
      //border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      min-height: 50vh;
      padding: 1em 1.5em;
      //transition: translate ease-in-out 1.5s;
    }

    //! NON FUNZIONA
    .title-project + .project-screen:hover {
      align-self: flex-start;
    }

    .project-screen {
      transition: translate ease-in-out 1.5s;
      z-index: 1;
      //! DA SISTEMARE
      /*&:hover + .project-information {
        position: static;
        width: auto;
      }*/

      & img {
        border-radius: 12px;
        width: 100%;
        filter: grayscale(1);

        &:hover {
          filter: grayscale(0);
          transition: all 0.5s linear;
        }
      }
    }

    .project-information {
      //border: 1px solid red;
      flex: 1;
      transition: all ease-in-out 1s;
      //position: absolute;
      //right: 50;
      //top: 50;
      //translate: -50% -50%;
      //width: 200px;
      //opacity: 0;
      //display: none;
      //visibility: hidden;
      //translate: -300px;

      .title-link > a {
        text-decoration: none;
        color: $color-one;
        font-family: $font-future;
        display: block;
        margin: 20px auto;
        width: fit-content;
        font-size: 1.2em;
        letter-spacing: 5px;
      }
      .description {
        background-color: rgba($color: #f9f9f9, $alpha: 0.85);
        //border: 2px solid $color-three;
        max-width: 500px;
        min-height: 300px;
        //box-shadow: 0 0 6px 2px $color-three inset;
        border-radius: 8px;
        padding: 2rem 3rem;
        color: $color-two;
        font-family: $font-primary;
        font-size: 0.95em;
        //display: flex;
        //flex-direction: column;
        //gap: .5rem;
        line-height: 25px;
      }
      /* .description a {
        text-decoration: none;
        color: $color-one;
        font-weight: bold;
        display: inline;
      } */
      .language-list {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        //border: 1px solid red;
      }
      .language {
        font-size: 1em;
        color: $color-html;
        font-family: $font-future;
        letter-spacing: 5px;
        margin: 10px 20px;
      }

      .project-links {
        list-style: none;
        display: flex;
        justify-content: flex-end;
      }
      .icon {
        margin: 0 10px;
        font-size: 1.2em;

        & a {
          text-decoration: none;
          color: $color-one;
          display: block;
          margin: 20px 10px;
          font-size: 1.2em;
        }
      }
    }

    &:nth-child(odd) .project-links {
      justify-content: flex-end;
    }
    &:nth-child(even) .project-links {
      justify-content: flex-start;
    }

    /* .number {
      border-radius: 50%;
      border: 1px solid $color-three;
      background-color: $color-one;
      color: $color-two;
      padding: 0.1em 0.5em;
      font-size: 0.8em;
      box-shadow: 0 0 5px 0.5px $color-three;
    } */
  }
}

// CONTACT PAGE - FORM + MODULE

#contact {
  h2 {
    font-size: 2.2em;
    margin-bottom: 1em;
    position: relative;
    color: $color-one;
    font-family: $font-primary;
    &::before {
      @include htmlElement("<h2>", 1rem);
      top: -15px;
      left: -20px;
    }
    &::after {
      @include htmlElement("</h2>", 1rem);
      bottom: -10px;
    }
  }
}
