@font-face {
  font-family: "Allura";
  src: url(/src/fonts/Allura-Regular.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "Didact";
  src: url(/src/fonts/DidactGothic-Regular.ttf);
}
@font-face {
  font-family: "Open";
  src: url(/src/fonts/OpenSans.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Azonix";
  src: url(/src/fonts/Azonix.otf);
}
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #1a1c1e;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #f7a501;
  border-radius: 100vw;
  border: 0.2em solid #1a1c1e;
}

@font-face {
  font-family: "Allura";
  src: url(/src/fonts/Allura-Regular.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "Didact";
  src: url(/src/fonts/DidactGothic-Regular.ttf);
}
@font-face {
  font-family: "Open";
  src: url(/src/fonts/OpenSans.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Azonix";
  src: url(/src/fonts/Azonix.otf);
}
.container {
  height: 100vh;
  width: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 3;
  background-color: #1a1c1e;
  color: #f7a501;
  transition: all 1s linear;
  opacity: 1;
}

.container .textLoader {
  position: relative;
  color: #f7a501;
  font-size: 30px;
  height: -moz-max-content;
  height: max-content;
  font-family: "Azonix";
  transition: all 3s linear;
  opacity: 1;
}

.textLoader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1a1c1e;
  border-left: 2px solid #f9f9f9;
  animation: animate 5s steps(30) 1;
}

@keyframes animate {
  40%, 60% {
    left: calc(100% + 10px);
  }
  90%, 100% {
    left: 0px;
  }
}
/*#loader {
    height: 100vh;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 3;
    background-color: $color-two;
    color: $color-one;  
  }

  .loader {
    position: absolute;
    border-radius: 50%;
    border: 2px solid $color-one;
    //background-color: darkgreen;
    height: 120px;
    width: 200px;
    animation: ripples 3s 2 linear;
    opacity: 0;

  }

  .loader:nth-child(1) {
    animation-delay: 1s;
  }
  .loader:nth-child(2) {
    animation-delay: 2s;
  }
  .loader:nth-child(3) {
    animation-delay: 3s;
  }

  @keyframes ripples {
    0% {
      transform: scale(0, 0);
      opacity: 0.25;
    }
    100% {
      opacity: 0.25;
      transform: scale(1, 1);
    }
  }*/
@font-face {
  font-family: "Allura";
  src: url(/src/fonts/Allura-Regular.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "Didact";
  src: url(/src/fonts/DidactGothic-Regular.ttf);
}
@font-face {
  font-family: "Open";
  src: url(/src/fonts/OpenSans.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Azonix";
  src: url(/src/fonts/Azonix.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #1a1c1e;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline;
}

menu {
  position: fixed;
  background-color: #f7a501;
  max-height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

menu #brand {
  text-align: center;
  margin: 2em 0;
}
menu #brand a > span {
  color: #f7a501;
  background-color: #1a1c1e;
  display: block;
  padding: 0.2em 0;
  font-size: 1.3em;
  font-family: "Open";
}

#brand > span {
  font-family: "Azonix";
  font-size: 0.7em;
}

menu nav {
  display: inherit;
  flex-direction: inherit;
  border-top: 2px solid #1a1c1e;
}
menu nav a {
  color: #1a1c1e;
  font-family: "Open";
  font-size: 1rem;
  border-bottom: 2px solid #1a1c1e;
  text-align: center;
  padding: 12px 10px;
}
menu nav a:hover {
  background-color: #1a1c1e;
  color: #f7a501;
  transition: all 0.5s linear;
}

menu .social {
  display: inherit;
  justify-content: center;
  list-style-type: none;
  gap: 4px;
}
menu .social a {
  color: #1a1c1e;
  font-size: 1.4em;
  padding: 6px;
  transition: all 0.5s linear;
  border-radius: 50%;
}
menu .social a:hover {
  background-color: #1a1c1e;
  color: #f7a501;
  border-radius: 50%;
}
menu .social li {
  position: relative;
}

.social li:nth-child(1)::after {
  content: "Profilo GitHub";
  position: absolute;
  width: 200%;
  top: 30px;
  left: -20px;
  text-align: center;
  font-size: 0.6em;
  background-color: #f9f9f9;
  border: 0.5px solid #1a1c1e;
  color: #1a1c1e;
  padding: 0.3em 0;
  opacity: 0;
}

.social li:nth-child(1):hover::after {
  opacity: 1;
  transition: all 0.3s linear;
}

.social li:nth-child(2)::after {
  content: "Profilo LinkedIn";
  position: absolute;
  width: 200%;
  top: 30px;
  left: -20px;
  text-align: center;
  font-size: 0.6em;
  background-color: #f9f9f9;
  border: 0.5px solid #1a1c1e;
  color: #1a1c1e;
  padding: 0.3em 0;
  opacity: 0;
}

.social li:nth-child(2):hover::after {
  opacity: 1;
  transition: all 0.3s linear;
}

menu #copyright {
  font-family: "Azonix";
  font-weight: 400;
  font-size: 0.7em;
  display: block;
  text-align: center;
  padding-bottom: 1em;
}

.section {
  margin-left: 10em;
  position: relative;
  padding: 5em;
  min-height: 100vh;
}

.top-tag {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Allura";
  color: #898989;
  margin: 15px 0 0 30px;
  font-size: 1.1em;
}

.top-tag::after {
  content: "<body>";
  position: absolute;
  top: 25px;
  left: 10px;
  font-family: "Allura";
  color: #898989;
  font-size: 1em;
}

.bottom-tag {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Allura";
  color: #898989;
  margin: 0 0 15px 30px;
  font-size: 1.1em;
}

.bottom-tag::after {
  content: "</body>";
  position: absolute;
  bottom: 25px;
  left: 10px;
  font-family: "Allura";
  color: #898989;
  font-size: 1em;
}

#front-page .container-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}
#front-page h1 {
  display: inline-block;
  position: relative;
}
#front-page h1::before {
  content: "<h1>";
  position: absolute;
  font-size: 0.8em;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  top: -12px;
  left: -10px;
}
#front-page h1::before h1::after {
  content: "</h1>";
  position: absolute;
  font-size: 0.8em;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  bottom: -10px;
}
#front-page .showing {
  transition: all 0.5s ease-out;
  font-size: 2.5em;
  display: inherit;
  line-height: 1.2em;
  color: #f9f9f9;
  opacity: 0;
}
#front-page .marginShowing {
  margin-right: 20px;
}
#front-page #job-title {
  position: relative;
  padding: 2.5em 0;
  font-family: "Azonix";
  margin-bottom: 4em;
  color: #f7a501;
}
#front-page #job-title::before {
  content: "<p>";
  position: absolute;
  font-size: 1.2em;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  top: 15px;
  left: -10px;
}
#front-page #job-title::after {
  content: "</p>";
  position: absolute;
  font-size: 1.2em;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  bottom: 15px;
  left: -15px;
}
#front-page .contact-link {
  color: #f7a501;
  display: inline-block;
  border: 1px solid #f7a501;
  padding: 1em 4em;
  font-size: 1.2em;
  position: relative;
  letter-spacing: 2px;
  overflow: hidden;
}
#front-page .contact-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5px;
  height: 5px;
  background-color: #f7a501;
}
#front-page .contact-link:hover::after {
  background-color: #1a1c1e;
}
#front-page .contact-link:hover .text {
  color: #1a1c1e;
  transform: scale(1.1, 1.1);
}
#front-page .contact-link:hover .bg {
  width: 140%;
  transition: 0.3s all linear;
}
#front-page .bg {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10px;
  background-color: #f7a501;
  transform: skewX(-10deg);
}
#front-page .text {
  display: inline-block;
}

#myself h2 {
  font-size: 2.2em;
  margin-bottom: 1em;
  position: relative;
  color: #f7a501;
  font-family: "Open";
}
#myself h2::before {
  content: "<h2>";
  position: absolute;
  font-size: 1rem;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  top: -15px;
  left: -20px;
}
#myself h2::after {
  content: "</h2>";
  position: absolute;
  font-size: 1rem;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  bottom: -10px;
}
#myself #skill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
#myself .skill {
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid red;
  width: 400px;
  padding: 1rem 5rem;
  filter: grayscale(1);
  display: flex;
  align-items: center;
  z-index: 1;
}
#myself .skill img {
  width: 100px;
}
#myself .skill:hover {
  filter: grayscale(0);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 75px 5px #f9f9f9 inset;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 150px;
  height: 7.5px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  transform: skewX(-20deg);
  transform-origin: 0 100%;
}

progress[value]::-webkit-progress-value {
  border-radius: 2px;
  background-color: #f7a501;
}

.projects {
  position: relative;
}
.projects::before {
  content: "<section>";
  position: absolute;
  font-size: 1.2em;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  top: -15px;
  left: -25px;
}
.projects::after {
  content: "</section>";
  position: absolute;
  font-size: 1.2em;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  bottom: 0;
  left: -25px;
}
.projects h2 {
  font-size: 2.2em;
  margin-bottom: 0.5rem;
  position: relative;
  color: #f7a501;
  font-family: "Open";
}
.projects p {
  position: relative;
  font-size: 1.15em;
  line-height: 1.5em;
  color: #f9f9f9;
  font-family: "Didact";
}
.projects .project-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.projects .single-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0;
  position: relative;
  min-height: 50vh;
  /*     &:nth-child(odd) .number {
    margin-right: 15px;
  }
  &:nth-child(even) .number {
    margin-left: 15px;
  } */
  /* .number {
    border-radius: 50%;
    border: 1px solid $color-three;
    background-color: $color-one;
    color: $color-two;
    padding: 0.1em 0.5em;
    font-size: 0.8em;
    box-shadow: 0 0 5px 0.5px $color-three;
  } */
}
.projects .single-project:nth-child(odd)::before {
  content: "<project>";
  position: absolute;
  font-size: 1.1em;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  top: -30px;
  left: -15px;
}
.projects .single-project:nth-child(odd):after {
  content: "</project>";
  position: absolute;
  font-size: 1.1em;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  bottom: -30px;
  left: -15px;
}
.projects .single-project:nth-child(even)::before {
  content: "<project>";
  position: absolute;
  font-size: 1.1em;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  top: -30px;
  right: -15px;
}
.projects .single-project:nth-child(even):after {
  content: "</project>";
  position: absolute;
  font-size: 1.1em;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  bottom: -30px;
  right: -15px;
}
.projects .single-project .title-project {
  font-size: 1.8em;
  color: #f7a501;
  font-family: "Didact";
  display: flex;
  align-items: center;
}
.projects .single-project:nth-child(odd) .title-project::after {
  content: "";
  width: 15vw;
  height: 1px;
  background-color: #f7a501;
  margin-left: 20px;
}
.projects .single-project:nth-child(even) .title-project::before {
  content: "";
  width: 15vw;
  height: 1px;
  background-color: #f7a501;
  margin-right: 20px;
}
.projects .single-project:nth-child(odd) .title-project {
  align-self: flex-start;
  margin-left: 15px;
}
.projects .single-project:nth-child(even) .title-project {
  align-self: flex-end;
  margin-right: 15px;
}
.projects .single-project:nth-child(even) .project-screen {
  order: 2;
}
.projects .single-project .project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 50vh;
  padding: 1em 1.5em;
}
.projects .single-project .title-project + .project-screen:hover {
  align-self: flex-start;
}
.projects .single-project .project-screen {
  transition: translate ease-in-out 1.5s;
  z-index: 1;
  /*&:hover + .project-information {
    position: static;
    width: auto;
  }*/
}
.projects .single-project .project-screen img {
  border-radius: 12px;
  width: 100%;
  filter: grayscale(1);
}
.projects .single-project .project-screen img:hover {
  filter: grayscale(0);
  transition: all 0.5s linear;
}
.projects .single-project .project-information {
  flex: 1;
  transition: all ease-in-out 1s;
  /* .description a {
    text-decoration: none;
    color: $color-one;
    font-weight: bold;
    display: inline;
  } */
}
.projects .single-project .project-information .title-link > a {
  text-decoration: none;
  color: #f7a501;
  font-family: "Azonix";
  display: block;
  margin: 20px auto;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2em;
  letter-spacing: 5px;
}
.projects .single-project .project-information .description {
  background-color: rgba(249, 249, 249, 0.85);
  max-width: 500px;
  min-height: 300px;
  border-radius: 8px;
  padding: 2rem 3rem;
  color: #1a1c1e;
  font-family: "Open";
  font-size: 0.95em;
  line-height: 25px;
}
.projects .single-project .project-information .language-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.projects .single-project .project-information .language {
  font-size: 1em;
  color: #898989;
  font-family: "Azonix";
  letter-spacing: 5px;
  margin: 10px 20px;
}
.projects .single-project .project-information .project-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.projects .single-project .project-information .icon {
  margin: 0 10px;
  font-size: 1.2em;
}
.projects .single-project .project-information .icon a {
  text-decoration: none;
  color: #f7a501;
  display: block;
  margin: 20px 10px;
  font-size: 1.2em;
}
.projects .single-project:nth-child(odd) .project-links {
  justify-content: flex-end;
}
.projects .single-project:nth-child(even) .project-links {
  justify-content: flex-start;
}

#contact h2 {
  font-size: 2.2em;
  margin-bottom: 1em;
  position: relative;
  color: #f7a501;
  font-family: "Open";
}
#contact h2::before {
  content: "<h2>";
  position: absolute;
  font-size: 1rem;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  top: -15px;
  left: -20px;
}
#contact h2::after {
  content: "</h2>";
  position: absolute;
  font-size: 1rem;
  font-weight: 100;
  font-family: "Allura";
  color: #898989;
  bottom: -10px;
}/*# sourceMappingURL=style.css.map */